body {
  background: #000;
  color: aliceblue;
  font-size: xx-large;
}
.container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  gap: 20px;
}
.inputsec {
  display: flex;
  gap: 12px;
}
button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}
input {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  width: 60px;
}
